.tc-container-small {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    background: linear-gradient(135deg, #f8f8f8 40%, #981111 40%);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    border: 2px solid white;
    cursor: pointer;
  }
  
  .tc-container-small:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }
  
  .tc-left-small {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  
  .tc-title-small {
    font-size: 1.5rem;
    color: #171235;
    font-weight: bold;
  }
  
  .tc-right-small {
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  
  .tc-image-small {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    scale: 0.8;
  }
  