.background-container {
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    background-color: transparent;  /* Background remains transparent */
  }
  
  canvas {
    background: 
    linear-gradient(
        hsl(240, 50%, 25%) 0%,  /* Darker purple for the mountains */
        hsl(210, 40%, 55%) 75%  /* Bluish color for the sky */
      );
      

      
    display: block;
    z-index: 2;  /* Ensure the canvas is behind the other content */
  }
  
  div {
    background: url(https://jackrugile.com/images/misc/skyline-texture.png);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;  /* Ensure the texture is behind the canvas and other elements */
  }
  